includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8

    paths:
        - app
        - routes
        - database/factories
        - database/seeders

    tmpDir: storage/framework/phpstan
